@import './navbar.css';


body {
   font-size: 16px;
   background-color: #f5f5f5;
}



/* Blog */

.container {
   width: 92%;
   color: #ffffff;
   font-family: Ubuntu;
   justify-content: center;
   margin: 125px auto 50px auto;
}

.articles {
   margin: 40px auto 5px auto;
}

.articles {
   width: 96%;
   display: flex;
   margin-top: 40px;
   flex-direction: column;
   box-sizing: border-box;
   background-color: #fafafa;
   padding: 45px 35px 25px 35px;
   box-shadow: 0 0 1px 1px #0000001a;
}

.article__title {
   color: #000000;
   font-size: 1.8em;
   line-height: 45px;
   font-weight: bolder;
   text-decoration: none;
   transition: color 0.2s;
}

.article__title:hover {
   color: #8a2be2;
}

.article__published {
   color: #5f9ea0;
   font-size: 1.1em;
   line-height: 25px;
   letter-spacing: 2px;
   margin: 15px 0 20px 0;
   font-family: monospace;
}

.article__line {
   margin: 115px 0 50px 0;
   border: 1px solid #253341;
}

@media screen and (min-width: 620px) {
   .container {
      width: 70%;
   }
}

@media screen and (min-width: 960px) {
   .container {
      width: 67%;
   }
}

@media screen and (min-width: 1200px) {
   .container {
      width: 38%;
   }
}

/* Blog */