:root {
   --body-bg-color: #eef0f1;
   --component-bg-color: #fafafa;
   --component-font-color: #000000;
   --component-hover-color: #f3ebea;
   --component-border-color: #38444d;
   --second-component-bg-color: #192734;
   --component-box-shadow: 0 0 1px 1px #0000001a;
   --component-third-box-shadow: 0 0 1px 1px #404a4d33;
   --component-second-box-shadow: 0 0 1.2px 1.2px #0000001a;


   --dark: #22272C;
}